.list-item img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

.list-item {
    min-height: 200px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    margin-left: -100%;
    margin-bottom: 15px;
    width: 90%;
    box-shadow: 0 0 8px 0 #999;
    transition: margin-left 1s ease;
}

.list li.slide {
    margin-left: 5%;
}
