.gallery #image-icon {
    margin-right: 11px;
}

.gallery .media {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: fixed;
    min-height: 100%;
    top: 0;
    left: 0;
    background: #474548;
}

.gallery .media-type {
    width: 100%;
    text-align: center;
    background: #222;
    position: absolute;
    top: 80px;
}

.gallery .media-type span:first-child {
    margin-right: 15px;
}

.gallery .media-type span.active {
    background-color: #003c92;
}

.gallery .media-type span {
    display: inline-block;
    padding: 10px 20px;
    color: #d0cccc;
}

.gallery .top-bar {
    position: fixed;
    background-color: #141619 !important;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.gallery .logo-link {
    display: block;
    float: left;
}

.gallery .search {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin: 10px 9px 8px 11px;
    overflow: hidden;
    width: 96%;
    float: right;
}

.gallery .search input#search::-webkit-input-placeholder {
    color: #65737e;
}

.gallery .search input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}

.gallery .search input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
}

.gallery .search input#search:-ms-input-placeholder {
    color: #65737e;
}

.gallery .search .icon{
    background: #003c92;
    padding: 11px 18px;
    border-radius: 0 5px 5px 0;
    color: #fff;
    height: 45px;
    right: 0;
    width: 58px;
    font-size: 21px;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
}

.gallery .logo {
    width: 57px;
    float: left;
    margin-right: 7px;
    margin-left: 3px;
}

.gallery .search input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
}

.gallery .search input#search {
    position: absolute;
    width: calc(100% - 122px);
    height: 45px;
    background: #ffffff;
    border: none;
    font-size: 12pt;
    color: #262626;
    padding-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    max-width: calc(100% - 122px);
    box-sizing: border-box;
}

@media screen and (orientation : landscape) {
    .gallery .search input#search {
        width: 83%;
        max-width: 83%;
    }
}