body {
    background-color: #f6f6f6;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}

#image-icon {
    margin-right: 11px;
}

#video-icon, #image-icon {
    width: 47px;
    height: 47px;
    float: left;
    border-radius: 5px;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.media-type {
    text-align: center;
    float: left;
    margin-top: 25px;
}

.media-type span:first-child {
    margin-right: 15px;
    background-color: #4a4f58;
    color: #d0cccc;
    box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.5);
}

.media-type span {
    padding: 4px 10px;
    border-radius: 3px;
    color: #d0cccc;
}