.videos .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
    overflow: hidden;
    width: 100%;
    margin: 86px 0 0 0;
}

.videos .sorry {
    margin-top: 50px;
    color: #ddd;
    width: 60%;
    text-align: center;
    line-height: 24px;
    font-family: 'Aviano Future Black Fast', 'sans-serif';
}